* {
    box-sizing: 0;
}

body {

}


.container{
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    height: 220px;
}

header ul{
    display: flex;
    gap: 20px;
    text-decoration: none;
}

header ul li {
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: space-between;
}

nav .nav-list ul{
    display: flex;
    gap: 20px;
}

.title {
    font-size: 64px;
}